<div *ngFor="let item of items;">
    <div class="checkbox-wrapper" [appCallout]="'Drag and drop on form'" [id]="item.id" *ngIf="item.type === 'checkbox'">
        <mat-checkbox class="example-margin" [required]="item.required" [color]="item.color" #checkbox (click)="getStyles(item.id)" cdkDrag [ngStyle]="{
            'width.px': currentItem && item.id === currentItem.id ? currentItem.width : item.width, 
            'height.px': currentItem && item.id === currentItem.id ? currentItem.height : item.height, 
            'font-size.px': currentItem && item.id === currentItem.id ? currentItem.fontSize : item.fontSize,
            'font-weight': currentItem && item.id === currentItem.id ? currentItem.fontWeight : item.fontWeight }">{{item.placeholder | format}}
        </mat-checkbox>
    </div>
    <div *ngIf="item.type === 'select'">
        <mat-form-field appearance="fill" [ngStyle]="{
        'width.px': currentItem && item.id === currentItem.id ? currentItem.width : item.width,
        'height.px': currentItem && item.id === currentItem.id ? currentItem.height : item.height,
        'border-style': currentItem && item.id === currentItem.id ? currentItem.border.style : item.border.style,
        'border-color': currentItem && item.id === currentItem.id ? currentItem.border.color : item.border.color,
        'border-width.px': currentItem && item.id === currentItem.id ? currentItem.border.width : item.border.width }" 
        (click)="getStyles(item.id)" cdkDrag>
            <mat-label>{{item.placeholder | format}}</mat-label>
            <mat-select [required]="item.required" [ngStyle]="{
                'font-size.px': currentItem && item.id === currentItem.id ? currentItem.fontSize : item.fontSize,
                'font-weight': currentItem && item.id === currentItem.id ? currentItem.fontWeight : item.fontWeight,
                'color': currentItem && item.id === currentItem.id ? currentItem.color : item.color }" #select>
                <mat-option value="Option 1">
                Option 1
                </mat-option>
            </mat-select>
        </mat-form-field>                         
    </div>
    <div *ngIf="item.type === 'text'">
        <mat-form-field class="" [ngStyle]="{
            'width.px': currentItem && item.id === currentItem.id ? currentItem.width : item.width, 
            'height.px': currentItem && item.id === currentItem.id ? currentItem.height : item.height }" (click)="getStyles(item.id)" cdkDrag>
            <mat-label>{{item.placeholder}}</mat-label>
            <input [required]="item.required" [ngStyle]="{
                'font-size.px': currentItem && item.id === currentItem.id ? currentItem.fontSize : item.fontSize,
                'font-weight': currentItem && item.id === currentItem.id ? currentItem.fontWeight : item.fontWeight,
                'color': currentItem && item.id === currentItem.id ? currentItem.color : item.color }" matInput [type]="item.type" #input>
        </mat-form-field>
    </div>
    <div *ngIf="item.type === 'button'">
        <button mat-raised-button color="primary" (click)="getStyles(item.id)" cdkDrag [ngStyle]="{
            'width.px': currentItem && item.id === currentItem.id ? currentItem.width : item.width, 
            'height.px': currentItem && item.id === currentItem.id ? currentItem.height : item.height,
            'font-size.px': currentItem && item.id === currentItem.id ? currentItem.fontSize : item.fontSize,
            'font-weight': currentItem && item.id === currentItem.id ? currentItem.fontWeight : item.fontWeight,
            'background-color': currentItem && item.id === currentItem.id ? currentItem.color : item.color, 
            'border-style': currentItem && item.id === currentItem.id ? currentItem.border.style : item.border.style,
            'border-color': currentItem && item.id === currentItem.id ? currentItem.border.color : item.border.color,
            'border-width.px': currentItem && item.id === currentItem.id ? currentItem.border.width : item.border.width }">{{item.placeholder | format}}</button>
    </div>
    <div *ngIf="item.type === 'textarea'">
        <mat-form-field appearance="fill" [ngStyle]="{
            'width.px': currentItem && item.id === currentItem.id ? currentItem.width : item.width, 
            'height.px': currentItem && item.id === currentItem.id ? currentItem.height : item.height,
            'border-style': currentItem && item.id === currentItem.id ? currentItem.border.style : item.border.style,
            'border-color': currentItem && item.id === currentItem.id ? currentItem.border.color : item.border.color,
            'border-width.px': currentItem && item.id === currentItem.id ? currentItem.border.width : item.border.width }" (click)="getStyles(item.id)" cdkDrag>
            <textarea  matInput [required]="item.required" placeholder={{item.placeholder}} #textarea [ngStyle]="{
                'font-size.px': currentItem && item.id === currentItem.id ? currentItem.fontSize : item.fontSize,
                'font-weight': currentItem && item.id === currentItem.id ? currentItem.fontWeight : item.fontWeight,
                'color': item.color }"></textarea>
        </mat-form-field>                         
    </div>
</div>
