<div class="container-xl">
    <div *ngrxLet="error$; let error">
        <div *ngIf="error.status">
            <h2 *ngIf="error.message === errorMessages.uncorrectData; else regularError">Incorrect email or password</h2>
            <ng-template #regularError>
                <h2>Try again</h2>
            </ng-template>
            <button (click)="closeError()">X</button>
        </div>
    </div>
    <div [cdkPortalOutlet]="selectedPortal"></div>

    <ng-template cdkPortal #loginForm="cdkPortal">
        <h2>Sign in</h2>
        <form action="http://localhost:3000/login" method="POST" [formGroup]="user">
            <mat-form-field class="example-form-field">
                <mat-label>Email</mat-label>
                <input matInput data-test="login-email" name="email" formControlName="email">
            </mat-form-field><br/>
            <mat-form-field class="example-form-field">
                <mat-label>Password</mat-label>
                <input matInput data-test="login-password" type="password" name="password" formControlName="password">
            </mat-form-field><br/>
            <p></p>
            <button mat-raised-button data-test="login-submit" color="primary" (click)="login()">Login</button>
            <p>Or <a (click)="selectedPortal = signupFormPortal" data-test="to-signup">SIGN UP</a></p>
        </form>
    </ng-template>

    <ng-template cdkPortal #signupForm="cdkPortal">
        <h2>Sign up</h2>
        <form action="http://localhost:3000/users" method="POST" [formGroup]="user">
            <mat-form-field class="example-form-field">
                <mat-label>Email</mat-label>
                <input matInput data-test="signup-email" name="email" formControlName="email">
            </mat-form-field><br/>
            <mat-form-field class="example-form-field">
                <mat-label>Password</mat-label>
                <input matInput data-test="signup-password" type="password" name="password" formControlName="password">
            </mat-form-field><br/>
            <button mat-raised-button data-test="signup-submit" color="primary" (click)="login(true)">Login</button>
            <p>Or <a (click)="selectedPortal = loginFormPortal">Login</a></p>
        </form>
    </ng-template>
</div>
