:root {
    --text-color: #3c3c3c;
    --delete-field-bg-color: rgb(249, 246, 246);
    --delete-field-border-color: rgb(216, 212, 212);
    --delete-field-text-color: rgb(186, 183, 183);
    --form-border-color: rgb(73, 69, 69);
}